.individualrecipepage
{
position:absolute;
background-color:#ffffff;
height:3062px;
width:1440px;
padding:0px;
display:flex;
flex-direction:column;
flex-wrap:nowrap;
align-items:center;
justify-content:center;
}
.footer
{
align-self:flex-start;
top:2742px;
left:0px;
position:absolute;
width:1440px;
height:320px;
}
.rectangle9
{
background-color:#d9d9d9;
height:320px;
width:1440px;
top:2742px;
left:0px;
position:absolute;
}
.footer2
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Rajdhani;
left:439px;
top:2849.19px;
width:563px;
height:104px;
position:absolute;
line-height:30px;
border-style:hidden;
outline:none;
}
.recipetitlehere
{
color:#ff571b;
text-align:left;
vertical-align:text-middle;
font-size:100px;
font-family:Rajdhani;
align-self:flex-start;
left:130px;
top:267px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:462px;
display:flex;
}
.explanation-loremipsumdolorsitamet,consecteturadipiscingelit,seddoeiusmodtemporincididuntutlaboreetdoloremagnaaliqua.
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Nunito;
align-self:flex-start;
left:130px;
top:547px;
position:absolute;
line-height:30px;
border-style:hidden;
outline:none;
width:500px;
display:flex;
}
.header
{
width:1440px;
height:100px;
position:absolute;
top:0px;
left:0px;
}
.rectangle1
{
background-color:rgba(217, 217, 217, 0.5);
height:100px;
width:1440px;
}
.guidedrecipes
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:18px;
font-family:Rajdhani;
line-height:auto;
border-style:hidden;
outline:none;
left:908px;
top:30px;
position:absolute;
width:120px;
}
.shop
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:18px;
font-family:Rajdhani;
left:1076px;
top:30px;
width:38px;
height:40px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.about
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:18px;
font-family:Rajdhani;
left:1162px;
top:30px;
width:44px;
height:40px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.signup
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:18px;
font-family:Rajdhani;
left:1254px;
top:30px;
width:56px;
height:40px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.logo
{
width:40px;
height:40px;
top:30px;
left:130px;
position:absolute;
}
.rectangle2
{
background-color:#d9d9d9;
height:40px;
width:40px;
top:30px;
left:130px;
position:absolute;
}
.line4
{
width:56.56854248046875px;
transform:rotate(-45deg);
border:1px solid #000000;
top:30px;
left:130px;
position:absolute;
}
.line5
{
width:56.56854248046875px;
transform:rotate(45deg);
border:1px solid #000000;
top:70px;
left:130px;
position:absolute;
}
.guidedrecipes-
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:24px;
font-family:Roboto;
align-self:flex-start;
left:130px;
top:164px;
position:absolute;
line-height:30px;
border-style:hidden;
outline:none;
width:169px;
display:flex;
}
.recipetitle2
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:24px;
font-family:Roboto;
align-self:flex-start;
left:299px;
top:164px;
position:absolute;
line-height:30px;
border-style:hidden;
outline:none;
width:127px;
display:flex;
}
.rectangle19
{
background-color:#d9d9d9;
height:400px;
width:580px;
border:1px solid #000000;
top:267px;
left:730px;
position:absolute;
}
.line29
{
width:703.7335815429688px;
transform:rotate(145deg);
border:1px solid #000000;
top:667px;
left:1310px;
position:absolute;
}
.line30
{
width:703.9893798828125px;
transform:rotate(-146deg);
border:1px solid #000000;
top:267px;
left:1310px;
position:absolute;
}
.group2161
{
align-self:flex-start;
left:230px;
top:1745px;
position:absolute;
width:980px;
height:500px;
}
.rectangle20
{
background-color:#d9d9d9;
height:500px;
width:980px;
border:1px solid #000000;
top:1745px;
left:230px;
position:absolute;
}
.line39
{
width:1098.677001953125px;
transform:rotate(152deg);
border:1px solid #000000;
top:2245px;
left:1210px;
position:absolute;
}
.line40
{
width:1099.6143798828125px;
transform:rotate(-154deg);
border:1px solid #000000;
top:1745px;
left:1210px;
position:absolute;
}
.line37
{
width:490px;
transform:rotate(-1deg);
border:3px solid #ff571b;
top:967px;
left:230px;
position:absolute;
}
.line38
{
width:490px;
transform:rotate(-1deg);
border:1px solid #000000;
top:966px;
left:720px;
position:absolute;
}
.interactivevideo
{
color:#ff561b;
text-align:left;
vertical-align:text-middle;
font-size:32px;
font-family:Rajdhani;
align-self:flex-start;
left:130px;
top:1639px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:224px;
display:flex;
}
.ingredients
{
color:#ff571b;
text-align:center;
vertical-align:text-middle;
font-size:32px;
font-family:Roboto;
align-self:flex-start;
left:393px;
top:912px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:164px;
display:flex;
}
.equipment
{
color:#000000;
text-align:center;
vertical-align:text-middle;
font-size:32px;
font-family:Roboto;
align-self:flex-start;
left:893px;
top:912px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:185px;
display:flex;
}
.directions
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:32px;
font-family:Roboto;
align-self:flex-start;
left:129px;
top:2333px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
width:185px;
display:flex;
}
.group2162
{
align-self:flex-start;
left:230px;
top:1030px;
position:absolute;
width:327px;
height:40px;
}
.rectangle26
{
background-color:#ffffff;
height:40px;
width:40px;
border:2px solid #000000;
top:1030px;
left:230px;
position:absolute;
}
.stingredient
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Nunito;
left:310px;
top:1037px;
width:247px;
height:25px;
position:absolute;
line-height:30px;
border-style:hidden;
outline:none;
}
.group2164
{
align-self:flex-start;
left:230px;
top:1174px;
position:absolute;
width:327px;
height:40px;
}
.rectangle262
{
background-color:#ffffff;
height:40px;
width:40px;
border:2px solid #000000;
top:1174px;
left:230px;
position:absolute;
}
.rdingredient
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Nunito;
left:310px;
top:1181px;
width:247px;
height:25px;
position:absolute;
line-height:30px;
border-style:hidden;
outline:none;
}
.group2167
{
align-self:flex-start;
left:230px;
top:1390px;
position:absolute;
width:327px;
height:40px;
}
.rectangle263
{
background-color:#ffffff;
height:40px;
width:40px;
border:2px solid #000000;
top:1390px;
left:230px;
position:absolute;
}
.thingredient
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Nunito;
left:310px;
top:1397px;
width:247px;
height:25px;
position:absolute;
line-height:30px;
border-style:hidden;
outline:none;
}
.group2166
{
align-self:flex-start;
left:230px;
top:1318px;
position:absolute;
width:327px;
height:40px;
}
.rectangle264
{
background-color:#ffffff;
height:40px;
width:40px;
border:2px solid #000000;
top:1318px;
left:230px;
position:absolute;
}
.thingredient2
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Nunito;
left:310px;
top:1325px;
width:247px;
height:25px;
position:absolute;
line-height:30px;
border-style:hidden;
outline:none;
}
.group2165
{
align-self:flex-start;
left:230px;
top:1246px;
position:absolute;
width:327px;
height:40px;
}
.rectangle265
{
background-color:#ffffff;
height:40px;
width:40px;
border:2px solid #000000;
top:1246px;
left:230px;
position:absolute;
}
.thingredient3
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Nunito;
left:310px;
top:1253px;
width:247px;
height:25px;
position:absolute;
line-height:30px;
border-style:hidden;
outline:none;
}
.group2163
{
align-self:flex-start;
left:229px;
top:1102px;
position:absolute;
width:327px;
height:40px;
}
.rectangle266
{
background-color:#ffffff;
height:40px;
width:40px;
border:2px solid #000000;
top:1102px;
left:229px;
position:absolute;
}
.ndingredient
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:Nunito;
left:309px;
top:1109px;
width:247px;
height:25px;
position:absolute;
line-height:30px;
border-style:hidden;
outline:none;
}
.line392
{
width:490px;
transform:rotate(-1deg);
border:1px solid #000000;
top:2373px;
left:129px;
position:absolute;
}
