@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-size: 24pt;
  font-family: "Rajdhani", sans-serif;
  font-weight: "regular";
  width: 100%;
  margin: 0;
  padding: 0;
}

button {
  text-align: center;
  background-color: black;
  color: white;
  font-size: 24pt;
  border: none;
  padding: 1%;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 40pt;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

p {
  font-size: 24pt;
}

.flex {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-gap: 2%;
}

.box {
  display: grid;
  grid-template-columns: 30% 70%;
}

nav {
  padding: 2%;
  font-size: 18pt;
  background-color: grey;
  width: 100%;
}
nav .flex {
  justify-content: space-around;
  flex-direction: row;
}

#index h2 {
  margin: 2%;
  color: #FF561B;
}

#home-banner {
  margin: 2%;
  padding: 2%;
  grid-template-columns: repeat(2, 50%);
  text-align: justify;
}
#home-banner h2 {
  margin: 0;
}

#home-getting-started {
  padding: 2%;
  margin: 2%;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 300px);
}

#home-suggested-meals {
  margin: 2%;
  grid-template-columns: repeat(3, auto);
}

.recipetile {
  font-family: "Roboto", sans-serif !important;
  font-size: 24pt !important;
  background-color: black;
  color: white;
  padding: 2%;
}
.recipetile a {
  font-size: 20pt;
  color: white;
}
.recipetile h2 {
  color: white;
}

#about-header {
  grid-template-columns: repeat(2, 50%);
  padding: 2%;
  background-color: black;
  color: white;
}

#guidedrecipes-recipes {
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: auto;
  margin: 2%;
}

#recipe-header {
  grid-template-columns: repeat(2, 50%);
  padding: 2%;
}
#recipe-header h2 {
  margin: 2%;
  color: #FF561B;
  font-size: 100pt;
}
#recipe-header p {
  margin: 2%;
}

.tab {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: hidden;
  color: black;
  background-color: white;
  width: 100%;
}
.tab button {
  background-color: white;
  color: black;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 2%;
}

.tabcontent {
  display: none;
  padding: 2%;
  border-top: none;
  margin: 2%;
  font-size: 24pt;
}

#ingredients {
  text-align: left;
}

#equipment {
  text-align: right;
}

main h2 {
  color: #FF561B;
  font-size: 32pt;
  margin: 2%;
}
main h3 {
  margin: 2%;
  font-size: 32pt;
}
main a {
  margin: 2%;
}
main ol {
  margin: 2%;
}
main p {
  margin: 2%;
}

#video-buttons {
  grid-template-columns: repeat(2, 50%);
}
#video-buttons button {
  margin: 2%;
  font-size: 20pt;
  background-color: white;
  color: black;
}
#video-buttons button:hover {
  cursor: pointer;
  color: #FF561B;
}

#video-captions {
  flex-direction: row;
  justify-content: center;
  color: #FF561B;
}

.recipe-video {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

iframe {
  width: 980px;
  margin: 2%;
  height: 500px;
}

footer {
  background-color: grey;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  padding: 2%;
}
footer .flex {
  justify-content: center;
}/*# sourceMappingURL=style.css.map */