@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
   font-size: 14px;
   font-family: 'Rajdhani', sans-serif;
   font-weight: 'regular';
   width: 100%;

   margin: 0;
   padding: 0;
}

button {
   text-align: center;
   background-color: black;
   color: white;
   font-size: 24pt;
   border: none;
   padding: 0.5em;
   font-family: 'Roboto', sans-serif;
}

h2 {
   font-size: 40pt;
}

a {
   text-decoration: none;
   color: black;
}
a:hover {
   text-decoration: underline;
}

p {
   font-size: 24pt;
}

.flex {
   display: flex;
   flex-direction: column;
}

.grid {
   display: grid;
   grid-gap: 1em;
}

.box {
   display: grid;
   grid-template-columns: 30% 70%;
}

nav {
   padding: 1em;
   font-size: 18pt;
   background-color: grey;
   width: 100%;

   .flex {
      justify-content: space-around;
      flex-direction: row;
   }
}

// index.html
#index {
   h2 {
      margin: 1em;
      color: #FF561B;
   }
}

#home-banner {
   margin: 1em;
   padding: 1em;
   grid-template-columns: repeat(2, 50%);

   text-align: justify;

   h2 {
      margin: 0;
   }
}

#home-getting-started {
   padding: 1em;
   margin: 1em;
   grid-template-columns: repeat(2, 50%);
   grid-template-rows: repeat(2, 300px);
}

#home-suggested-meals {
   margin: 1em;
   grid-template-columns: repeat(3, auto);
}

// Recipe Tiles
.recipetile {
   font-family: 'Roboto', sans-serif !important;
   font-size: 24pt !important;
   background-color: black;
   color: white;
   padding: 1em;

   a {
      font-size: 20pt;
      color: white;
   }
}

// About Page
#about-header {
   grid-template-columns: repeat(2, 50%);
   padding: 1em;
   background-color: black;
   color: white;
}

// Guided Recipes Page
#guidedrecipes-recipes {
   grid-template-columns: repeat(2, 50%);
   grid-template-rows: auto;
   margin: 1em;

   .recipetile {
      font-family: 'Roboto', sans-serif !important;
      font-size: 24pt !important;
      background-color: black;
      color: white;
      padding: 1em;
   
      a {
         font-size: 20pt;
         color: white;
         text-decoration: underline;
      }
   }
}

// Invidiual Recipe
#recipe-header {
   
}

footer {
   background-color: grey;
   width: 100%;
   vertical-align: middle;
   text-align: center;
   padding: 1em;

   .flex {
      justify-content: center;
   }
}