@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-size: 24pt;
  font-family: "Rajdhani", sans-serif;
  font-weight: "regular";
  width: 100%;
  margin: 0;
  padding: 0;
}

#openbutton {
  display: none;
}

.closebutton {
  display: none;
}

button :hover {
  cursor: pointer;
}
button a {
  color: white;
}
button a :hover {
  cursor: pointer;
  color: white;
}

#guidedrecipes-recipes {
  grid-template-columns: repeat(2, 49%);
  grid-template-rows: auto;
  margin: 2%;
  padding: 2%;
}
#guidedrecipes-recipes .recipetile {
  height: 30rem;
}

#guidedrecipes-grid {
  grid-template-columns: 25% 75%;
}

button {
  text-align: center;
  background-color: black;
  color: white;
  font-size: 24pt;
  border: none;
  padding: 1%;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 40pt;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

p {
  font-size: 24pt;
}

.flex {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.flex img {
  padding: 2%;
}

.grid {
  display: grid;
  grid-gap: 2%;
}

.box {
  display: grid;
  grid-template-columns: 30% 70%;
}

nav {
  color: white;
  font-size: 18pt;
  background-color: grey;
  padding: 2%;
  width: 96%;
}
nav h1 {
  cursor: pointer;
}
nav h1 :hover {
  text-decoration: none;
}
nav a {
  color: white;
}
nav .grid {
  display: grid;
  grid-template-columns: 75% 25%;
}
nav .grid .flex {
  flex-direction: row;
  align-items: center;
}
nav .grid #nav-menu {
  justify-content: space-evenly;
}
nav .grid #logo {
  justify-content: left;
}
nav .grid #logo h1 {
  text-align: left;
}
nav .grid #logo img {
  width: 5rem;
}

footer .flex {
  flex-direction: row;
  align-items: center;
}
footer img {
  width: 5rem;
}
footer p {
  font-size: 12pt;
}
footer .logo {
  padding: 0.5rem;
}
footer .logo img {
  width: 50px;
}

.tab button {
  background-color: white;
  color: black;
  cursor: pointer;
}

#index h2 {
  margin: 2%;
  color: #FF561B;
}
#index button {
  width: 45%;
}

#home-banner {
  margin: 2%;
  padding: 2%;
  grid-template-columns: repeat(2, 50%);
  text-align: justify;
}
#home-banner h2 {
  margin: 0;
}

#home-getting-started {
  padding: 2%;
  margin: 2%;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 300px);
}
#home-getting-started .flex {
  flex-direction: row;
  align-items: center;
}

#home-suggested-meals {
  margin: 2%;
  grid-template-columns: repeat(3, auto);
}

.recipetile {
  font-family: "Roboto", sans-serif !important;
  background-color: black;
  box-shadow: 0.5rem 0.5rem 1rem grey;
  color: white;
  padding: 2%;
  width: 98%;
}
.recipetile a {
  font-size: 20pt;
  color: white;
}
.recipetile h3 {
  color: white;
  font-size: 24pt;
}
.recipetile img {
  width: 100%;
  height: 50%;
}

#recipeadd {
  flex-direction: row;
  justify-content: right;
  align-items: bottom;
}

#about-header {
  grid-template-columns: repeat(2, 50%);
  padding: 2%;
  background-color: black;
  color: white;
}

#recipe-header {
  grid-template-columns: repeat(2, 50%);
  padding: 2%;
}
#recipe-header h2 {
  margin: 2%;
  color: #FF561B;
  font-size: 100pt;
}
#recipe-header p {
  margin: 2%;
}
#recipe-header #recipe-picture {
  align-content: center;
}

.tabcontent {
  display: grid;
  grid-template-columns: repeat(2, 49%);
  padding: 2%;
}

.tab {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: hidden;
  color: black;
  background-color: white;
  width: 100%;
}

#ingredients {
  text-align: left;
}

#equipment {
  text-align: right;
}

main h2 {
  color: #FF561B;
  margin: 2%;
}
main h3 {
  margin: 2%;
  font-size: 32pt;
}
main a {
  margin: 2%;
}
main ol {
  margin: 2%;
}
main p {
  margin: 2%;
}

#video-buttons {
  grid-template-columns: repeat(2, 49%);
}
#video-buttons button {
  font-size: 20pt;
  background-color: white;
  color: black;
}
#video-buttons button:hover {
  cursor: pointer;
  color: #FF561B;
}

#video-captions {
  flex-direction: row;
  justify-content: center;
  color: #FF561B;
}

.recipe-video {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.recipe-video button {
  background-color: white;
  color: black;
  cursor: pointer;
}

iframe {
  width: 980px;
  margin: 2%;
  height: 500px;
}

footer {
  background-color: grey;
  width: 96%;
  vertical-align: middle;
  text-align: center;
  padding: 2%;
}
footer .flex {
  justify-content: center;
}

#ingredients .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
#ingredients .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
#ingredients .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #c6c6c6;
}
#ingredients .container:hover input ~ .checkmark {
  background-color: rgba(132, 132, 132, 0.6039215686);
}
#ingredients .container input:checked ~ .checkmark {
  background-color: #FF561B;
}
#ingredients .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
#ingredients .container input:checked ~ .checkmark:after {
  display: block;
}
#ingredients .container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

#equipment .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
#equipment .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
#equipment .checkmark {
  position: absolute;
  top: 0;
  right: 50%;
  height: 25px;
  width: 25px;
  background-color: #c6c6c6;
}
#equipment .container:hover input ~ .checkmark {
  background-color: rgba(132, 132, 132, 0.6039215686);
}
#equipment .container input:checked ~ .checkmark {
  background-color: #FF561B;
}
#equipment .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
#equipment .container input:checked ~ .checkmark:after {
  display: block;
}
#equipment .container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.dropdown {
  font-family: "Roboto", sans-serif;
  text-align: right;
  margin: 1%;
}
.dropdown select {
  border: none;
  padding: 1%;
  border-radius: 2%;
  background-color: black;
  color: white;
  font-size: 20pt;
}
.dropdown select :focus {
  outline: none;
}

#steak-recipe #recipe-header h2,
#duck-recipe #recipe-header h2 {
  font-size: 40pt;
}

#side-menu {
  display: none;
  margin: 5%;
  padding: 2%;
}
#side-menu button {
  width: 50%;
}
#side-menu a {
  font-size: 20pt;
}
#side-menu h5 {
  font-size: 24pt;
}

.elementview {
  display: none;
}

#my-meal {
  text-decoration: none;
  list-style-type: "X";
  list-style-position: outside;
  cursor: pointer;
}

@media only screen and (max-width: 720px) {
  .grid {
    display: block;
  }
  .flex {
    padding: 1rem;
  }
  nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 0;
  }
  nav a {
    padding: 0.75em 0.75em 0.75em 2em;
    text-decoration: none;
    font-size: 1.5em;
    color: black;
    display: block;
    transition: 0.3s;
  }
  nav .closebutton {
    position: absolute;
    top: 0;
    right: 1em;
    font-size: 2em;
    margin-left: 3em;
    display: grid;
  }
  nav .flex {
    display: block;
  }
  nav .grid {
    display: block;
  }
  nav #logo h1 {
    display: none;
  }
  #openbutton {
    display: block;
    padding: 1rem;
  }
  body {
    width: 100%;
  }
  #home-banner {
    grid-template-columns: repeat(1, 100%);
  }
  button {
    text-align: center;
    align-self: center;
  }
  #home-getting-started {
    grid-template-columns: repeat(1, 100%);
  }
  #home-getting-started .box {
    display: block;
  }
  #home-getting-started .box img {
    width: 10rem;
  }
  #home-getting-started .box .flex {
    justify-content: center;
  }
  .recipetile {
    width: 96%;
    margin: 2%;
  }
  footer {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */