@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
   font-size: 24pt;
   font-family: 'Rajdhani', sans-serif;
   font-weight: 'regular';
   width: 100%;

   margin: 0;
   padding: 0;
}

#openbutton {
   display: none;
}

.closebutton {
   display: none;
}

button {
   :hover {
      cursor: pointer;
   }

   a {
      color: white;

      :hover {
         cursor: pointer;
         color: white;
      }
   }
}

// Guided Recipes Page
#guidedrecipes-recipes {
   grid-template-columns: repeat(2, 49%);
   grid-template-rows: auto;
   margin: 2%;
   padding: 2%;
   .recipetile {
      height: 30rem;
   }
}

#guidedrecipes-grid {
   grid-template-columns: 25% 75%;
}

button {
   text-align: center;
   background-color: black;
   color: white;
   font-size: 24pt;
   border: none;
   padding: 1%;
   font-family: 'Roboto', sans-serif;
}

h2 {
   font-size: 40pt;
}

a {
   text-decoration: none;
   color: black;
}
a:hover {
   text-decoration: underline;
}

p {
   font-size: 24pt;
}

.flex {
   display: flex;
   flex: 1;
   flex-direction: column;

   img {
      padding: 2%;
   }
}

.grid {
   display: grid;
   grid-gap: 2%;
}

.box {
   display: grid;
   grid-template-columns: 30% 70%;
}

nav {
   color: white;
   font-size: 18pt;
   background-color: grey;
   padding: 2%;
   width: 96%;

   h1 {
      cursor: pointer;
      :hover {
         text-decoration: none;
      }
   }
   a {
      color: white;
   }
   .grid {
      display: grid;
      grid-template-columns: 75% 25%;

      .flex {
         flex-direction: row;
         align-items: center;
      }
      #nav-menu {
         justify-content: space-evenly;
      }
      #logo {
         justify-content: left;

         h1 {
            text-align: left;
         }
         img {
            width: 5rem;
         }
      }
   }
}

footer {
   .flex {
      flex-direction: row;
      align-items: center;
   }
   img {
      width: 5rem;
   }
   p {
      font-size: 12pt;
   }
   .logo {
      padding: 0.5rem;
      img {
         width: 50px;
      }
   }
}

.tab {
   button {
      background-color: white;
      color: black;
      cursor: pointer;
   }
}

// index.html
#index {
   h2 {
      margin: 2%;
      color: #FF561B;
   }
   button {
      width: 45%;
   }
}

#home-banner {
   margin: 2%;
   padding: 2%;
   grid-template-columns: repeat(2, 50%);

   text-align: justify;

   h2 {
      margin: 0;
   }
}

#home-getting-started {
   padding: 2%;
   margin: 2%;
   grid-template-columns: repeat(2, 50%);
   grid-template-rows: repeat(2, 300px);
   
   .flex {
      flex-direction: row;
      align-items: center;
   }
}

#home-suggested-meals {
   margin: 2%;
   grid-template-columns: repeat(3, auto);
}

// Recipe Tiles
.recipetile {
   font-family: 'Roboto', sans-serif !important;
   background-color: black;
   box-shadow: 0.5rem 0.5rem 1rem grey;
   color: white;
   padding: 2%;
   width: 98%;

   a {
      font-size: 20pt;
      color: white;
   }
   h3 {
      color: white;
      font-size: 24pt;
   }
   img {
      width: 100%;
      height: 50%;
   }
}

#recipeadd {
   flex-direction: row;
   justify-content: right;
   align-items: bottom;
}


// About Page
#about-header {
   grid-template-columns: repeat(2, 50%);
   padding: 2%;
   background-color: black;
   color: white;
}



// Individual Recipe Page
#recipe-header {
   grid-template-columns: repeat(2, 50%);
   padding: 2%;

   h2 {
      margin: 2%;
      color: #FF561B;
      font-size: 100pt;
   }
   p {
      margin: 2%;
   }
   #recipe-picture {
      align-content: center;
   }
}

.tabcontent {
   display: grid;
   grid-template-columns: repeat(2, 49%);
   padding: 2%;
}

.tab {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   overflow: hidden;
   color: black;
   background-color: white;
   width: 100%;
}

#ingredients {
   text-align: left;
}

#equipment {
   text-align: right;
}

main {
   h2 {
      color: #FF561B;
      margin: 2%;
   }
   h3 {
      margin: 2%;
      font-size: 32pt;
   }
   a {
      margin: 2%;
   }
   ol {
      margin: 2%;
   }
   p {
      margin: 2%;
   }
}

#video-buttons {
   grid-template-columns: repeat(2, 49%);

   button {
      font-size: 20pt;
      background-color: white;
      color: black;
   }
   button:hover {
      cursor: pointer;
      color: #FF561B;
   }
}

#video-captions {
   flex-direction: row;
   justify-content: center;
   color: #FF561B;
}

.recipe-video {
   display: flex;
   flex-direction: row;
   justify-content: center;

   button {
      background-color: white;
      color: black;
      cursor: pointer;
   }
}

iframe {
   width: 980px;
   margin: 2%;
   height: 500px;
}

footer {
   background-color: grey;
   width: 96%;
   vertical-align: middle;
   text-align: center;
   padding: 2%;

   .flex {
      justify-content: center;
   }
}

// Custom checkboxes
#ingredients {
   .container {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
   }
   .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
   }
   
   .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #c6c6c6;
   }
   
   .container:hover input ~ .checkmark {
      background-color: #8484849a;
   }
   
   .container input:checked ~ .checkmark {
      background-color: #FF561B;
   }
   
   .checkmark:after {
      content: "";
      position: absolute;
      display: none;
   }
   
   .container input:checked ~ .checkmark:after {
      display: block;
   }
   
   .container .checkmark:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
   }
}

#equipment {
   .container {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
   }
   .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
   }
   
   .checkmark {
      position: absolute;
      top: 0;
      right: 50%;
      height: 25px;
      width: 25px;
      background-color: #c6c6c6;
   }
   
   .container:hover input ~ .checkmark {
      background-color: #8484849a;
   }
   
   .container input:checked ~ .checkmark {
      background-color: #FF561B;
   }
   
   .checkmark:after {
      content: "";
      position: absolute;
      display: none;
   }
   
   .container input:checked ~ .checkmark:after {
      display: block;
   }
   
   .container .checkmark:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
   }
}

// Custom dropdown menu
.dropdown {
   font-family: 'Roboto', sans-serif;
   text-align: right;
   margin: 1%;

   select {
      border: none;
      padding: 1%;
      border-radius: 2%;
      background-color: black;
      color: white;
      font-size: 20pt;

      :focus {
         outline: none;
      }
   }
}

#steak-recipe,
#duck-recipe {
   #recipe-header {
      h2 {
         font-size: 40pt;
      }
   }
}

#side-menu {
   display: none;
   margin: 5%;
   padding: 2%;
   button {
      width: 50%;
   }
   a {
      font-size: 20pt;
   }
   h5 {
      font-size: 24pt;
   }
}

.elementview {
   display: none;
}

#my-meal {
   text-decoration: none;
   list-style-type: "X";
   list-style-position: outside;
   cursor: pointer;
}

@media only screen and (max-width: 720px) {
   .grid {
      display: block;
   }

   .flex {
      padding: 1rem;
   }
   
   nav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: white;
      overflow-x: hidden;
      transition: 0.5s;
      padding: 0;

      a {
         padding: 0.75em 0.75em 0.75em 2em;
         text-decoration: none;
         font-size: 1.5em;
         color: black;
         display: block;
         transition: 0.3s;
      }

      .closebutton {
         position: absolute;
         top: 0;
         right: 1em;
         font-size: 2em;
         margin-left: 3em;
         display: grid;
      }

      .flex {
         display: block;
      }

      .grid {
         display: block;
      }

      #logo h1 {
         display: none;
      }
   }

   #openbutton {
      display: block;
      padding: 1rem;
   }

   body {
      width: 100%;
   }

   #home-banner {
      grid-template-columns: repeat(1, 100%);
   }

   button {
      text-align: center;
      align-self: center;
   }

   #home-getting-started {
      grid-template-columns: repeat(1, 100%);

      .box {
         display: block;
         img {
            width: 10rem;
         }
         .flex {
            justify-content: center;
         }
      }
   }

   .recipetile {
      width: 96%;
      margin: 2%;
   }

   footer {
      width: 100%;
   }
}